{% load staticfiles %}”

{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>About me</h1>
    
    <p>My name is Thad Siwecki and I presently live in Pontiac, Illinois. I am married and we raised four girls, who are now ages 26 to 33. We are now raising two of our grandson's, ages seven and nine.</p>
    <p>I am currently enrolled at the San Deigo Global Knowledge University studying Full Stack Web Development. I received five years experience in internet technology, computers, and radios while serving in the Texas Arny National Guard. In June 2013, I earned my Bachelor of Applied Science through Wayland Baptist University in Criminal Justice.</p>
{% endblock content %}